{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
    <h1 class="text-center & btn-success ">        ZACH IS AWESOME!
    </h1>
    <h2 class="text-danger & text-center">
        Who is the greatest college football team on Earth?
    </h2>
    <h2 class="btn-warning & text-center">
        THE CLEMSON TIGERS!
    </h2>
</head>
<body>
<p class="popover-content">
    I am finding all of this web stuff pretty awesome!  Bring on some more!
</p>
<table class="table-striped & text-center">
    <tr>
        <td>Zach</td>
        <td>Seaborn</td>
    </tr>
    <tr>
        <td>Is</td>
        <td>Really</td>
    </tr>
    <tr>>
        <td>Enjoying</td>
        <td>This</td>
    </tr>
</table>
</body>
</html>