{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        BEST TITLE EVER
    </title>
    <link rel="stylesheet", type="text/css", href="{% static 'bootstrap.css' %}">
</head>
<body>
<p class="label-info">I've made {{ count }} tweets. Follow me @{{ username }}. Also beware of Lemongrab, his outbursts are {{ lemongrap }}</p>
<p class="label-primary">So, what should I say here. Maybe some words. But what words. The, and, what. I don't know.</p>
</body>
</html>