{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        BEST TITLE EVER
    </title>
    <link rel="stylesheet", type="text/css", href="{% static 'bootstrap.css' %}">
    <p class="text-capitalize text-center text-danger lead">my page</p>
</head>
<body>
<p class="label-info">I've made {{ count }} tweets. Follow me @{{ username }}. Also beware of Lemongrab, his outbursts
    are {{ lemongrap }}</p>
<p class="label-primary ">So, what should I say here. Maybe some words. But what words. The, and, what? I don't know.</p>

<p class="alert-danger text-right">More text to try things out on.</p>

<img src="http://cdn.instructables.com/FT5/GF93/I70AWRQO/FT5GF93I70AWRQO.MEDIUM.gif" alt="center">

</body>
</html>