{%  load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}"'s First Webpage!"</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
</head>
<body>
<h1>"Hi y'all!"</h1>
<p class="lead">My name is {{ name }}, and this is my very first website, <strong>built from the ground up!</strong></p>
Here is my contact info:

<address>
    Travis Knop<br>
    3408 Maplewood Avenue<br>
    Richmond, VA 23221<br>
    <abbr title="Cell">C:</abbr> (804) 937-4942
</address>
</body>
</html>
